@media (max-width: 1439.98px) {
    .sidepanel{
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .container{
        max-width: 960px;
    }
    .about{
        padding-top: 80px;
        &__wrapper{
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills{
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item{
                column-gap: 10px;
            }
        }
    }
    .resume{
        padding-top: 80px;
        &__wrapper{
            padding: 50px 20px 0 20px;
            grid-template-columns: repeat(2,1fr);
            column-gap: 80px;
        }
    }
    .skills{
        padding-top: 80px;
        &__wrapper{
            padding-top: 50px;
            grid-template-columns: repeat(4, minmax(20%, auto));
        }
    }
    .percentages{
        padding-top: 80px;
        &__wrapper{
            padding: 0 10px;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(70px, auto);
            column-gap: 55px;
            row-gap: 40px;
        }
    }
}

@media (max-width: 991.98px) {
    .container{
        max-width: 720px;
    }
    .about{
        &__wrapper{
            grid-template-columns: 300px 380px;
            row-gap: 30px;
        }
        &__skills{
            grid-template-columns: 380px;
            &-item{
                column-gap: 20px;
                grid-template-columns: 40px 320px;
            }
        }
    }
    .resume{
        &__wrapper{
            padding: 50px 10px 0 10px;
            column-gap: 40px;
        }
    }
    .skills{
        &__wrapper{
            padding-top: 50px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 767.98px) {
    .container{
        max-width: 540px;
    }
    .title{
        &_fz48{
            font-size: 28px;
        }
        &_fz36{
            font-size: 24px;
        }
    }
    .promo{
        &__title{
            line-height: 39px;
            width: 300px;
        }
    }
    .about{
        padding-top: 40px;
        &__wrapper{
            grid-template: 75vh / 1fr;
        }
        &__photo{
            grid-row: unset;
        }
        &__skills{
            grid-template: repeat(2, auto)/repeat(2, 1fr);
            grid-auto-rows: auto;
            &-item{
                grid-template-columns: 40px auto;
            }
        }
    }
    .resume{
        padding-top: 40px;
        &__wrapper{
            grid-template-columns: 1fr;
            row-gap: 30px;
        }

    }
    .divider{
        margin-top: 10px;
    }

    .skills{
        padding-top: 40px;
        &__wrapper{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .percentages{
        padding-top: 40px;
    }
}

@media (max-width: 575.98px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .title{
        &_fz48{
           font-size: 26px; 
        }
        
    }
    .hamburger{
        right: 20px;
    }
    .promo{
        background: url('../img/main_bg.jpg') no-repeat 60%/cover;
        &__btns{
            margin-top: 32px;
        }
    }
    .menu{
        &__block{
            width: 250px;
            padding: 140px 20px 50px 20px;
        }
    }
    .about{
        &__wrapper{
            row-gap: 20px;
            .title{
                &__wrapper{
                    margin-top: 20px;
                }
            }
        }
        &__skills{
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    .resume{
        &__wrapper{
            padding-top: 40px;
        }
        &__item{
            &:before{
                width: 20px;
                top: 40px;
            }
            &-icon{
                top: 21px;
                left: 20px;
            }
            &-head{
                padding: 20px 0 0 75px;
            }
        }
    }
    .skills{
        &__wrapper{
            padding-top: 40px;
            grid-template-columns: 1fr;
            row-gap: 15px;
        }
    }
    .percentages{
        &__wrapper{
            grid-template-columns: 1fr;
        }
    }  
}